.wrap{
    width: 500px;
    height: 200px;
    background: gray;
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
}
.avatar{
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 20px;
}
img{
    border-radius: 50%;
}
.bio{
    padding-left: 10px;
}
p{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}
.bold-name{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}
